$accentColor: #FFCC0D;
$mainBgColor: #FFFFFF;
$mainColor: #000;
$mainLightColor: #F2F2F2;


$primaryColor: #fff;
$secondaryColor: #C7C7C7;
$textColor: #37373F;
$textColorLight: #B3B3B3;
$linkColor: #1B80E4;


// $breakpoints: (
//    xs: 576px,
//    sm: 768px,
//    md: 1280px,
//    lg: 1440px
// );