@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SpectralSC;
	font-display: swap;
	src: url("../fonts/SpectralSC-ExtraBold.woff2") format("woff2"), url("../fonts/SpectralSC-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: SpectralSC;
	font-display: swap;
	src: url("../fonts/SpectralSC-SemiBold.woff2") format("woff2"), url("../fonts/SpectralSC-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: SpectralSC;
	font-display: swap;
	src: url("../fonts/SpectralSC-Bold.woff2") format("woff2"), url("../fonts/SpectralSC-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
