//about.css
.about {
   padding: 120px 0 20px;
   margin-bottom: 20px;
   
   @media (max-width: $tablet) {
      padding: 90px 0 20px;
   }

   @media (max-width: $mobileSmall) {
      padding: 50px 0 20px;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 4px solid $mainColor; 
      
      @media (max-width: $tablet) {
         border-width: 3px;
      }
   }

   &__title {
      margin-bottom: 90px;
      position: relative;
      align-self: center;

      @media (max-width: $tablet) {
         margin-bottom: 70px;
      }

      @media (max-width: $mobileSmall) {
         margin-bottom: 50px;
      }

      &::after {
         left: 5%;         
      }
   }

   &__content {
      padding: 20px;
      background-color: #F2F2F2;
   }

   &__description {
      width: 1000px;
      text-align: center;      

      @media (max-width: $pc) {
         width: calc(290px + 710*((100vw - 320px) / (1260 - 320)));
      }
   }
}