//about.css
.about {
   padding: 120px 0 20px;
   margin-bottom: 20px;
   
   @media (max-width: $tablet) {
      padding: 90px 0 20px;
   }

   @media (max-width: $mobileSmall) {
      padding: 50px 0 20px;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 4px solid $mainColor; 
      
      @media (max-width: $tablet) {
         border-width: 3px;
      }
   }

   &__title {
      margin-bottom: 90px;
      position: relative;
      align-self: center;

      @media (max-width: $tablet) {
         margin-bottom: 70px;
      }

      @media (max-width: $mobileSmall) {
         margin-bottom: 50px;
      }

      &::after {
         left: 5%;         
      }
   }

   &__content {
      width: 1000px;
      margin-bottom: 90px;
            
      @media (max-width: $pc) {
         width: calc(290px + 710*((100vw - 320px) / (1260 - 320)));
      }

      @media (max-width: $mobileSmall) {
         margin-bottom: 50px;
      }
   }

   &__description { 
      padding: 30px 40px 50px;     
      text-align: center;  
      background-color: $mainLightColor;        
   }

   &__hobby {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 0 50px ;
      background-color: $accentColor;
      min-width: 0;
   }

   &__hobby-text {
      max-width: 600px;
      width: 100%;
      text-align: center; 
   }

   // &__inner {
   //    max-width: 900px;
   // }

   &__slider {
      // padding: 30px 0 70px 0;
   }
}

// .swiper {
//    // &__slide {
//    //    max-width: 900px;
//    // }

//    &__slider-image {
//       text-align: center;
      
//    }

//    &__slider-image img {
//       max-width: 100%;
//    }
// }
