//about.css
.contact {
   min-height: calc(100vh - 70px);
   display: flex;
   padding: 120px 0 20px;
   margin-bottom: 20px;
   
   @media (max-width: $tablet) {
      padding: 100px 0 20px;
   }

   @media (max-width: $mobileSmall) {
      padding: 90px 0 20px;
   }

   &__wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 4px solid $mainColor; 
      
      @media (max-width: $tablet) {
         border-width: 3px;
      }
   }

   &__title {
      margin-bottom: 90px;
      position: relative;
      align-self: center;

      @media (max-width: $tablet) {
         margin-bottom: 70px;
      }

      @media (max-width: $mobileSmall) {
         margin-bottom: 50px;
      }

      &::after {
         left: 23%;         
      }
   }

   &__content {
      display: flex;      
   }

   &__left-block, &__right-block {
      flex: 0 1 50%;
   }

   &__left-block {
      text-align: justify;
      padding: 0 20px;            
   }

   &__text {
      margin-bottom: 30px;
   }

   &__info {
      position: relative;
      display: block;
      margin-bottom: 20px;
      padding-left: 42px;

     &::after {
      content: '';    
      position: absolute; 
      top: 0;
      left: 0;    
      width: 32px;    
      height: 32px;    
     }
   }

   &__info-1::after {
      background-image: url("./../img/icons/email-icon.png");
   }

   &__info-2::after {
      background-image: url("./../img/icons/telephone-icon.png");
   }

   &__info-3::after {
      background-image: url("./../img/icons/location-icon.png");
   }

   &__link-mail {
      position: relative;
   }
    
   &__link-mail::before,
   &__link-mail::after {
      content: '';    
      position: absolute; 
      top: 100%;    
      width: 0;    
      height: 2px;    
      background: $accentColor;    
      transition: 0.3s;
   }

   &__link-mail::before {
      left: calc(50%);      
   }

   &__link-mail::after {
      right: calc(50%);      
   }

   &__link-mail:hover::before,
   &__link-mail:hover::after {
      width: calc(50%);              
      
   }

   &__tel {
      transition: 0.3s ease;

      &:hover {
         color: $accentColor;
      }
   }

   &__right-block {
      display: flex;
      justify-content: center;
   }

   &__form {
      width: 500px;
      opacity: 0;
      transform: perspective(600px)  rotateX(-90deg);        
   }

   @media (prefers-reduced-motion: no-preference) {
      .contact__form {
       transition: opacity 1.5s ease, transform 1.5s ease;        
      }
    }

   &__form._watcher-view {
      opacity: 1;
      transform: perspective(600px) rotateX(0deg);       
   }   
   

   .form {
      &__placeholder-container {
         position: relative;
         width: 100%;
         margin-bottom: 20px;
      }

      &__placeholder-container {
         position: relative;
         width: 100%;
         margin-bottom: 20px;
      }
      
      &__input {
         background-color: transparent;
         border: 2px solid $mainColor;
         height: 70px;
         outline: 0;
         padding: 0 20px;
         width: 100%;
         transition: all 0.3s;
     }

     &__label {
         background-color: $mainBgColor;
         padding: 5px 10px;
         pointer-events: none;
         position: absolute;
         transition: all 0.3s;
         top: 15px;
         left: 10px;      
      }
     

      textarea.form__input {
        min-height: 200px;
        resize: vertical;
        padding: 20px;
     }

      .form__input:focus {
         border: 2px solid $accentColor;
      }      

      .form__input:focus + label, 
      .form__input:not(:placeholder-shown) + label {
         top: -17px;
         left: 10px;
         font-size: 18px; 
         background-color: $mainBgColor;
         padding: 2px 10px;
         color: $accentColor;    
      }

      .form__input:not(:focus) + label {
         color: $mainColor;
      }

      &__button {
         width: 100%;
         height: 70px;
         text-transform: uppercase;
         letter-spacing: 2px;
         background-color: $accentColor;
         font-weight: 700;
         border: 2px solid transparent;
         transition: all 0.3s ease;

         @media (max-width: $mobileSmall) {
            margin: 10px 0 50px;
         }

         &:hover {
           color: $accentColor;
           background-color: transparent;
           border: 2px solid $accentColor;
         }

         &:active {
            transform: translate(1px, 2px);
         }
      }      
   }
}