//header
.header {
   position:absolute;
   background-color: $mainBgColor;
   width: 100%;
   z-index: 10;

   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;   
      min-height: 70px;
   }

   .social {
      z-index: 5; 

      &__list {
         display: flex;
         align-items: center;
         justify-content: space-between;                
      } 

      &__link {
         fill: $mainColor;               

         &:hover {
            fill: $accentColor;
         }
      }

      &__icon {
         height: 32px;
         width: 32px;
         fill: inherit;
         transition: 0.3s;
      }

      &__item:not(:last-child) {
         margin-right: 30px;
      }
   }  
   
   .menu {
      &__body {
         @media (max-width: $mobile) {
         position: fixed;
         top: 0;
         left: -100%;
         width: 100%;
         height: 100%;
         background-color: rgba(255,204,13, 0.8);
         padding: 120px 0 0;
         overflow: auto;
         transition: left 0.3s ease 0s;
         }

         .menu-open & {
            left: 0;
         }
      }     

      &__list {
         display: flex;
         align-items: center;
         justify-content: space-between;      
        
         @media (max-width: $mobile) {
         flex-direction: column;
         }
      } 
      
      &__item {
         display: inline-block;
      }

      &__item:not(:last-child) {
         @include adaptiveValue("margin-right", 30, 20, 1200, 768, 1);

         @media (max-width: $mobile) {
            margin: 0 0 30px;
            }
      }

      &__link {
         padding: 5px 7px;
         text-transform: uppercase;
         @include adaptiveValue("font-size", 14, 12, 1200, 768, 1);
         cursor: pointer; 
         display: block;    
         position: relative;  
         
         @media (max-width: $mobile) {
            font-size: 22px;
            }
      } 

      &__link::before,
      &__link::after {
         content: '';    
         position: absolute; 
         top: 80%;    
         width: 0;    
         height: 2px;    
         background: $accentColor;    
         transition: 0.3s;
      }

      &__link::before {
         left: 47%;
      }

      &__link::after {
         right: 47%;
      }

      &__link:hover::before,
      &__link:hover::after {
         width: 47%;
      }
      
      &__link._navigator-active {
         background-color: #FFCC0D;
      }
   }   
}

//headerScroll
._header-scroll {
   position: fixed;
   top: -200px;       
}     

._header-scroll {
   min-height: 50px;    
} 

._header-show {
   transition: top 0.7s 0s;
   top: 0;
}

//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $mainColor;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}			
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

