//projects.css
.projects {
   padding: 150px 0 50px;
   margin-bottom: 20px;

   &__wrapper {
      display: flex;
      flex-direction: column;
      text-align: center;
   }

   &__title {
      margin-bottom: 130px;
      position: relative;
      align-self: center;

      &::after {
         left: 19%;         
      }
   }

   .block {     
      
      // &__item {
      //    width: 50%;
      // }

      &__content {
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr;
         gap: 50px;
         // display: flex;

      }

      &__img-box {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 30px 20px 0;
         background-color: $mainLightColor;
         // box-shadow: 0 0 10px rgb(0 0 0 / 50%);
      }

      &__subtitle {
         font-family: "SpectralSC", serif;
         @include font(28px, 800, 120%);
         letter-spacing: 0;
         text-align: center;
         text-transform: uppercase;
         margin-bottom: 30px;
         max-width: 340px;
      
         @media (max-width: $pc) {
            font-size: calc(22px + 6*((100vw - 320px) / (1260 - 320)));
         }
      }

      &__img-wrapper {
         width: 100%;
         position: relative;
         overflow: hidden;
         margin-bottom: 30px;
      }

      &__img-link {
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         z-index: 10;
         
         &:hover + .block__img {
            transform: scale(1);
         }
      }      

      &__img {
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         height: 400px;
         background-size: cover;
         background-repeat: no-repeat;
         background-position: 50%;
         transition: all 1s ease; 
         transform: scale(1.2);         
      }   
      
      &__img--1{
         background-image: url("@img/cover.png");
      }

      &__img--2 {
         background-image: url("@img/helicopter_flight.jpeg");
      }

      &__description {
         text-align: center;
         margin-bottom: 30px;
         padding: 0 10px 0;
         @include font(18px, 400, 140%);

         @media (max-width: $pc) {
            font-size: calc(14px + 4*((100vw - 320px) / (1260 - 320)));
         }
      }

      &__link {  
         position: relative;      
         margin-bottom: 30px;
         font-weight: 500;

         &::before,
         &::after {
            content: '';    
            position: absolute; 
            top: 100%;    
            width: 0;    
            height: 2px;    
            background: $accentColor;    
            transition: 0.3s;
         }

         &::before {
            left: 50%;      
         }

         &::after {
            right: 50%;      
         }

         &:hover::before,
         &:hover::after {
            width: 50%;
         }      
      }

   }

}