//skills.css
.skills {
   padding: 120px 0 20px;
   margin-bottom: 20px;
   
   @media (max-width: $tablet) {
      padding: 90px 0 20px;
   }

   @media (max-width: $mobileSmall) {
      padding: 50px 0 20px;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 4px solid $mainColor; 
      
      @media (max-width: $tablet) {
         border-width: 3px;
      }
   }

   &__title {
      margin-bottom: 90px;
      position: relative;
      align-self: center;

      @media (max-width: $tablet) {
         margin-bottom: 70px;
      }

      &::after {
         left: 17%;         
      }
   }

   &__progress-bar {
      max-width: 800px;
      width: 100%;
      margin-bottom: 20px;

      .progress {
         &__item {
            width: 100%;
            margin-bottom: 20px;
            border: 4px solid $mainColor;
            padding: 7px;
            @include font(22px, 500, 150%);
            @media (max-width: $pc) {
               font-size: calc(16px + 6*((100vw - 320px) / (1260 - 320)));
            }
            
         }

         &__item-inner {
            width: 100%;
            position: relative;
            
            &::before {
               content: "";
               position: absolute;
               top: 0;
               bottom: 0;
               left: 0;
               background-color: $accentColor;
               z-index: 1;
               animation: progressLine 3s cubic-bezier(.165,.84,.44,1) forwards;
            }          
            
         }

         &__subtitle {
            position: relative;
            display: inline-block;
            z-index: 2;
            padding: 0 15px;
         }

         &__percent {
            position: absolute;
            top: 0;
            right: 8%;
            z-index: 2;
         }

         
      }
   }

   &__text {
      max-width: 790px;
      width: 100%;
      margin-bottom: 90px;
      text-align: center;
   }


}

@keyframes progressLine {
   from {
      width: 0;
   }

   to {
      width: 70%;
   }
}