//skills.css
.skills {
   padding: 120px 0 20px;
   margin-bottom: 20px;
   
   @media (max-width: $tablet) {
      padding: 90px 0 20px;
   }

   @media (max-width: $mobileSmall) {
      padding: 50px 0 20px;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 4px solid $mainColor; 
      
      @media (max-width: $tablet) {
         border-width: 3px;
      }
   }

   &__title {
      margin-bottom: 90px;
      position: relative;
      align-self: center;

      @media (max-width: $tablet) {
         margin-bottom: 70px;
      }

      &::after {
         left: 17%;         
      }
   }

   &__progress-bar {
      max-width: 800px;
      width: 100%;
      margin-bottom: 20px;

      .progress {
         &__item {
            width: 100%;
            margin-bottom: 20px;
            border: 4px solid $mainColor;
            padding: 10px;
            // font-family: "SpectralSC", serif;
            @include font(22px, 700, 98%);
            // letter-spacing: -2px;
         }

         &__subtitle {
            display: inline-block;
         }
      }
   }

   &__text {
      max-width: 790px;
      width: 100%;
      margin-bottom: 90px;
      text-align: center;
   }


}