//skills
.skills {
   padding: 120px 0 20px;
   margin-bottom: 20px;
   
   @media (max-width: $tablet) {
      padding: 100px 0 20px;
   }

   @media (max-width: $mobileSmall) {
      padding: 75px 0 0;
   }

   ul li {
      list-style:square;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 4px solid $mainColor; 
      
      @media (max-width: $tablet) {
         border-width: 3px;
      }
   }

   &__title {
      margin-bottom: 90px;
      position: relative;
      align-self: center;

      @media (max-width: $tablet) {
         margin-bottom: 70px;
      }

      @media (max-width: $mobileSmall) {
         margin-bottom: 35px;
      }

      &::after {
         left: 17%;         
      }
   }

   &__content {
      width: 800px;
      opacity: 0;
      margin-bottom: 90px;
      transform: scale(0.5);
      transition: opacity 1.5s ease, transform 1.5s ease;

      @media (max-width: $mobileSmall) {
         margin-bottom: 50px;
      }

      @media (max-width: $pc) {
         width: calc(290px + 510*((100vw - 320px) / (1260 - 320)));
      }

      @media (max-width: $mobile) {
         width: 100%;
      } 
   }

   &__content._watcher-view {
      opacity: 1;
      transform: scale(1);
   }

   &__text {
      padding: 0 10px;
      text-align: center;
      margin-bottom: 20px;

      @media (max-width: $mobileSmall) {
         margin-bottom: 15px;
      }
   }

   &__progress-bar {
      margin-bottom: 20px;      

      .progress {
         &__item {
            width: 100%;
            margin-bottom: 15px;
            border: 3px solid $mainColor;
            padding: 7px;
            @include font(20px, 500, 170%);
            @media (max-width: $pc) {
               font-size: calc(14px + 6*((100vw - 320px) / (1260 - 320)));
            }

            @media (max-width: $mobile) {
               border: 2px solid $mainColor;
               margin-bottom: 12px;
               padding: 5px;
            }            
         }

         &__item-inner {
            width: 100%;
            position: relative;          
         }

         &__subtitle {
            position: relative;
            display: inline-block;
            z-index: 2;
            padding-left: 15px;

            @media (max-width: $pc) {
               padding-left: calc(12px + 3*((100vw - 320px) / (1260 - 320)));
            }
         }

         &__bg {
            position: absolute;  
            top: 0;
            bottom: 0;
            left: 0;                      
         }

         &__bg._watcher-view {
            &::after {
               content: "";
               position: absolute;
               top: 0;
               bottom: 0;
               left: 0;
               background-color: $accentColor;
               z-index: 1;
               animation: progressLine 3s cubic-bezier(.165,.84,.44,1) forwards;
               animation-delay: 0.8s;
            }    
         }

         &__bg-1 {
            width: 70%;
         }

         &__bg-2 {
            width: 60%;
         }

         &__bg-3 {
            width: 35%;
         }

         &__bg-4 {
            width: 50%;
         }

         &__bg-5 {
            width: 40%;
         }

         &__bg-6 {
            width: 20%;
         }

         &__bg-7 {
            width: 30%;
         }

         &__bg-8 {
            width: 40%;
         }

         &__bg-9 {
            width: 25%;
         }

         &__percent {
            position: absolute;
            top: 0;
            right: -50px;
            z-index: 2; 
            transform: scale(0); 
                        
            @media (max-width: $pc) {
               right: calc(-35px - 15*((100vw - 320px) / (1260 - 320)));
            }
         }
         
         &__percent._watcher-view {
            animation: percent 1.5s cubic-bezier(.165,.84,.44,1) forwards;
            animation-delay: 2.6s;  
         }
      }
   }

   &__list {
      max-width: 790px;
      width: 100%;
      padding: 0 25px;
      
      @media (max-width: $pc) {
         padding-left: calc(17px + 8*((100vw - 320px) / (1260 - 320)));
         padding-right: calc(17px + 8*((100vw - 320px) / (1260 - 320)));
      }
   }
}

@keyframes progressLine {
   from {
      width: 0;
   }

   to {
      width: 100%;
   }
}

@keyframes percent {
   from {
      transform: scale(0);
   }

   to {
      transform: scale(1);
   }
}